<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.infosys.com//" target="_blank">Infosys</a>  R&D, called iCETS, building tools with Artificial Intelligence to help automate repetitive manual work. I did B.Tech. in Computer Science and Engineering from 
      <a class="underline-link" href="http://nitdelhi.ac.in//" target="_blank">National Institute of Technology Delhi</a>  in 2015.

    </p>

    <p>
Ever since I was a child, I've been curious about things, soon realizing technology and business being the strongest agents of change. With fast-paced evolving AI technologies reducing the gap been science fiction and reality,  and being so open source, I see an opportunity.
    </p>
    <!-- {% include employment-status.html %} -->
  </div>
</section>
