<section class="section experience">
  <div class="section__title">Experience and ACHIEVEMENTS</div>
  <div class="section__content">
    <div class="jobs">
      {% for job in site.data.experience %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a href="{{job.url}}" target="_blank">{{job.company}}</a>
          </div>
          <div class="job__time">{{job.time}}</div>
        </div>
        <div class="job__position">{{job.position}}</div>
      </div>
      {% endfor %}
    </div>
    VIEW MY <br>
    &emsp;&emsp;&emsp;&emsp;<a href="{{site.resume}}" target="_blank" class="arrow-link">Resume</a> <br>
    &emsp;&emsp;&emsp;&emsp;<a href="{{site.hack}}" target="_blank" class="arrow-link">Hackathon Performances</a><br>
    &emsp;&emsp;&emsp;&emsp; ACHIEVEMENTS IN COLLEGE <br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a href="{{site.games}}" target="_blank" class="arrow-link">Games</a> 
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a href="{{site.ns}}" target="_blank" class="arrow-link">Other Competitions</a>
  </div>
</section>
